std::string @application_name;
std::string @application_user = "";
std::string @application_group = "";
std::string @bin_directory;
std::string @share_directory;
// END LINKING
[Unit]
Description=<%= application_name %> Web Application
After=network.target

[Service]
WorkingDirectory=<%= share_directory %>
<% if (application_user.length() > 0) do %>
User=<%= application_user %>
<% end %>
<% if (application_group.length() > 0) do %>
Group=<%= application_group %>
<% end %>
ExecStart=<%= bin_directory %>/start.sh
ExecStop=<%= bin_directory %>/stop.sh
PIDFile=/tmp/crails.pid
Restart=always
